.autocomplete {
  width: 100%;
  grid-column-start: 2;
}

.textbox {
  border: 1px solid #999;
  padding: 0.85rem;
  width: 100%;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 33vh;
  overflow-y: auto;
  padding-left: 0;
  width: 100%;
  background-color: white;
}

.suggestion,
.activeSuggestion,
.suggestion:hover {
  padding: 0.85rem;
}

.activeSuggestion,
.suggestion:hover {
  background-color: black;
  color: white;
}

.suggestion:hover {
  cursor: pointer;
}
